/* Red Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #d74133;
  --primary-hover: #d32f2f;
  --primary-focus: rgba(229, 57, 53, 0.125);
  --primary-inverse: #FFF;
}

/* Red Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #d74133;
    --primary-hover: #f44336;
    --primary-focus: rgba(229, 57, 53, 0.25);
    --primary-inverse: #FFF;
  }
}

/* Red Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #d74133;
  --primary-hover: #f44336;
  --primary-focus: rgba(229, 57, 53, 0.25);
  --primary-inverse: #FFF;
}

/* Red (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
    margin-bottom: 0px;
}

.main-container {
    margin-top: 0px;
}

.progress-container {
    margin-bottom: var(--spacing);
}

.buttons {
    margin-top: calc(var(--spacing) * 1.5);
}

.buttons div[role=button] {
    margin-right: calc(var(--spacing) * .5);
}

.card-container {
    padding: 0 var(--spacing) var(--spacing) var(--spacing);
}

.card {
    border-radius: 4.75% / 3.5%;
    -webkit-box-shadow: 1px 1px 8px rgb(0 0 0 / 50%);
    box-shadow: 1px 1px 8px rgb(0 0 0 / 50%);
}

.disclaimer {
    font-size: 0.75em;
    text-align: center;
    color: var(--secondary);
}

.relative-container {
  position: relative;
}

.loyalty {
  float: left;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-bottom: 7%;
  padding-right: 10%;
  font-size: min(2.5vw, 28.25px);
  z-index: 2;
}